streamlit
langchain
langchain-core
langchain-openai
langchain-google-genai
langgraph
google-generativeai
python-dotenv
requests
beautifulsoup4
duckduckgo-search
python-pptx
lxml
pyperclip
youtube-transcript-api
yt-dlp
pandas
tavily-python
